
body {
    background-image: url("aaaa.png");

    background-color: rgb(233, 203, 203);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.image-profile {
  
    width: 15%;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}

.nav h2 {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.s {
    padding: 50px;
    top: 20px;
    align-self: flex-start;
    background: #87cf6f;
    text-align: justify;
    border-radius: 10px;

}

.s-title {
    text-align: center;
    margin-bottom: 10%;
    top: 10px;
}

.s::-webkit-scrollbar {
    display: none;
}

.all-friends {
    max-height: 35vh;
    overflow: auto;

}

.all-friends::-webkit-scrollbar {
    display: none;
}

.card-of-friend {
    display: flex;
    padding: 5px;
    margin-top: 10px;
}

.friend-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.all-friends h6 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.friend-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.basic-content {
    flex-basis: 30%;
}

.last-post {
    min-width: 100vh;
    min-height: 150px;
    background-color: rgba(77, 77, 77, 0.6);
    padding:r-side 10px;
    border-radius: 10px;
}

.last-post-text-container {
    display: flex;
}

.image-profile {
    border-radius: 50%;
}

.last-post-text {
    margin-left: 10px;
    padding: 5px 10px;
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;
    resize: none;
    border-bottom: 1px solid #ccc;
}

.post-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.add-img-btn {
    margin-right: 10px;
}

.add-img-btn-icon {
    width: 30px;
    height: 30px;
}

.post-btn {
    width: 5em;
}

.post-container {
    padding: 10px;
    margin-top: 20px;
    width: 100vh;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.60);

}

.post-header {
    display: flex;
}

.post-date-author {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
}

.post-date-author h6 {
    font-size: small;
}

.post-content {
    text-align: justify;
    padding: 10px;
    font-size: small;
}

.post-btn-actions{
    border-top: 1px solid lightgrey;
    padding: 10px;
}

.r-side {
    background-color: rgba(255, 255, 255, 0.60);
    flex-basis: 25%;
    top: 60px;
    align-self: flex-start;
    padding: 10px;
    border-radius: 10px;

}